@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 62.5%;
    background-color: #393e46;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin-left: 50px;
}

header {
    background-color: #32e0c4;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav {
    display: flex;
    padding-left: 75px;
}

nav a {
    background-color: aliceblue;
    border: 1px solid #222831;
    color: #222831;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 0;
    text-decoration: none;
}

#current-page {
    background-color: #222831;
    color: aliceblue;  
}

div.middle {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #393e46;
    padding: 10px;
}

#about-me {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.about-img {
    width: 45%;
    max-width: 350px;
}

.about-txt {
    font-size: 1rem;
    color: aliceblue;
    margin: 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* height: 300px; */
    width:  45%;
}

.about-txt h2 {
    font-size: 1.5rem;
}

.about-txt button {
    width: 100px;
    background-color: aliceblue;
    border: 1px solid #222831;
    color: #222831;
    font-size: 0.8rem;
    margin: 10px 0;
    padding: 5px 10px;
}

.img-gallery {
    display: flex;
    justify-content: space-evenly;
}

.img-gallery div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.img-gallery p {
    color: aliceblue;
    margin-top: 15px;
}

footer {
    background-color: #32e0c4;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer a {
    background-color: aliceblue;
    border: 1px solid #222831;
    color: #222831; 
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    width: 125px;
}

footer a.github {
    border-color: none;
    border: none;
    padding: 0;
    width: 0;
    margin-left: 90%;
}

/* Media Queries */

@media (max-width:800px){
    .about-txt {
        font-size: .8rem;
        line-height: 1.1rem;

}
    .about-txt h2 {
        font-size: .9rem;
        /* line-height: 1rem; */

}
    .img-gallery {
        width: 100%;
        flex-wrap: wrap;
}
    .img-gallery div {
        width: 50%;
        max-width: 300px;
}

}

@media (max-width:500px){
    header {
        align-items: center;
        height: 100%;
    }

    header h1 {
        margin-left: 0;
        margin: 20px 0;
    }

    nav {
        flex-direction: column;
        width: 100px;
        padding-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    #about-me {
        display: flex;
        flex-direction: column;
    }
    
    .about-img {
        width: 80%;
        height: 250px;
    }

    .about-txt {
        width: 80%;
        align-items: center;
    }

    .about-txt h2 {
        font-size: 1.2rem;
    }

}